<div class="col s12">
  <app-note *ngFor="let note of noteList" [note]="note"></app-note>
  <p class="flow-text white-text" *ngIf="noteList === undefined || noteList.length === 0">There are no notes yet</p>
</div>

<div *ngIf="isAddingAuthorized" class="fixed-action-btn">
  <a class="btn btn-floating btn-large waves-effect waves-light orange modal-trigger" (click)="openModal()">
    <i class="large material-icons">mode_edit</i>
  </a>
</div>

<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalAction">
  <div class="modal-content">
    <h4>Adding a note</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea class="materialize-textarea" [(ngModel)]="noteContent" name="noteContent"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat" (click)="addNote()">OK</a>
    <a class=" modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Cancel</a>
  </div>
</div>